In [1]:
# initial Import
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Read CSV
pybank_csv = Path("PyBank_Resources/budget_data.csv")
pybank_data = pd.read_csv(pybank_csv)

In [3]:
# Total Number of Months in the Dataset 
Total_Months = pybank_data['Date'].count()
print(Total_Months)

86

In [4]:
# The net total amount of Profit/Losses over the entire period
Total_PL = pybank_data['Profit/Losses'].sum()
Total_PL = '${0:,.0f}'.format(Total_PL)
print(Total_PL)

$38,382,578

In [5]:
# The average of the changes in Profit and Losses over the entire period
# Create a shifted column to calculate the change
pybank_data['Shifted_Data'] = pybank_data['Profit/Losses'].shift(1)
pybank_data.head()

       Date  Profit/Losses  Shifted_Data
0  Jan-2010         867884           NaN
1  Feb-2010         984655      867884.0
2  Mar-2010         322013      984655.0
3  Apr-2010         -69417      322013.0
4  May-2010         310503      -69417.0

In [6]:
#Create and Calculate Dollar amount changes column
pybank_data["Monthly_Change"] = pybank_data["Profit/Losses"] - pybank_data['Shifted_Data']
pybank_data.head()

       Date  Profit/Losses  Shifted_Data  Monthly_Change
0  Jan-2010         867884           NaN             NaN
1  Feb-2010         984655      867884.0        116771.0
2  Mar-2010         322013      984655.0       -662642.0
3  Apr-2010         -69417      322013.0       -391430.0
4  May-2010         310503      -69417.0        379920.0

In [7]:
#Calculate the average change
Average_monthly_change = pybank_data["Monthly_Change"].mean()
Average_monthly_change = ('${0:,.0f}').format(Average_monthly_change)
print(Average_monthly_change)

$-2,315

In [8]:
Greatest_increase = pybank_data["Monthly_Change"].max()
Greatest_increase = ('${0:,.0f}').format(Greatest_increase)
Greatest_decrease = abs(pybank_data["Monthly_Change"].min())
Greatest_decrease = ('-${0:,.0f}').format(Greatest_decrease)
print(Greatest_increase)
print(Greatest_decrease)

$1,926,159
-$2,196,167

In [21]:
# Finding the Date where the monthly change is maximum and minimum 
Greatest_increase_month = pybank_data["Date"].where(pybank_data["Monthly_Change"]==pybank_data["Monthly_Change"].max()).dropna().values[0]
Greatest_decrease_month = pybank_data["Date"].where(pybank_data["Monthly_Change"]==pybank_data["Monthly_Change"].min()).dropna().values[0]
print(f'Month of Greatest Increase in Profit: {Greatest_increase_month}')
print(f'Month of Greatest Decrease in Losses: {Greatest_decrease_month}')

Month of Greatest Increase in Profit: Feb-2012
Month of Greatest Decrease in Losses: Sep-2013

In [17]:
#Type Out the Result"
print('Financial Analysis\n'
      '------------------\n'
      f'Total Months: {Total_Months}\n'
      f'Total: {Total_PL}\n'
      f'Average  Change: {Average_monthly_change}\n'
      f'Greatest Increase in Profits: {Greatest_increase_month} {Greatest_increase}\n'
      f'Greatest Decrease in Profits: {Greatest_decrease_month} {Greatest_decrease}')

Financial Analysis
------------------
Total Months: 86
Total: $38,382,578
Average  Change: $-2,315
Greatest Increase in Profits: Feb-2012 $1,926,159
Greatest Decrease in Profits: Sep-2013 -$2,196,167